.video_card{
    background-color: rgb(235, 168, 168);
    position: relative;
    width: 15rem;
    text-align: left;
    border: 1px solid black;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    
}

.video_img {
    position: relative;
    width: 30%;
    aspect-ratio: 1 / 1;
    top: 10px;
    left: 10px;
    box-sizing: border-box;
}


p {
    margin-left: 10px;
    color: rgb(60, 60, 60);
    text-decoration: none;
}

a {
  text-decoration: none;  
}

.video_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.2rem 0.2rem;
}

.btn {
    position: relative;
    margin-right: 5px;

    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(151, 220, 255);
    transition: all 0.3s ease;
}

.btn:hover {
    border: none;
    outline: none;
    background: linear-gradient(45deg, rgb(227, 246, 255), rgb(151, 220, 255));
    transition: all 0.9s ease;
}

.likes_counter {
    position: relative;
    margin-left: 5px;
}

.video_card:hover {
    transition: all 0.9s ease;
    background: linear-gradient(45deg, rgb(255, 191, 71), rgb(235, 168, 168));
    scale: 1.1;

}
