body {
  font-family: "Teko", sans-serif;
  margin: 0;
  min-height: 100vh;
  background:#dff3ff;
  background-repeat: no-repeat;
  background-size: 240%;
}

.page_img {
    max-height: 30vh;
}

.markdown p{
    text-align: left;
    color: rgb(40, 40, 40);
    font-family: "Merriweather", serif;
}

.markdown pre {
    font-size: 16px;
}

.inline_code {
    font-family: "JetBrains Mono", monospace;
    background: #eef8ff;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 16px;
    color: rgb(43, 165, 226);
}

.markdown .token {
  background: transparent !important;
}

.article_header {
    background: rgb(235, 168, 168);
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 9%;
    display: flex;
    justify-content: space-between;
}

.page_img {

}  

h1 {
   font-family: 'Alatsi', sans-serif;
}