html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Teko", sans-serif;
  font-weight: 700;
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
  background: linear-gradient(45deg, rgb(124, 133, 139), rgb(53, 53, 60));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


