body {
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
  background: linear-gradient(45deg, rgb(124, 133, 139), rgb(53, 53, 60));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page_img {
    max-height: 30vh;
}

.markdown {
    text-align: left;
}

.markdown pre {
    font-size: 16px;
}